.remove-button-container {
  display: flex;
  justify-content: center;
}

.remove {
  cursor: pointer;
  font: inherit;
  font-size: 14px;
  color: black;
  background-color: #afacac;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
}
