.header {
  width: 80%;
  height: 5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background: #fff;
  color: rgb(27, 30, 29);
}

.logo {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  background: #fff
    url("https://assets.apolitical.co/logos/apolitical-logo-light.svg")
    no-repeat;
  height: 100%;
  width: 300px;
  color: rgb(27, 30, 29);
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
  transform: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

.header a {
  text-decoration: none;
  color: rgb(27, 30, 29);
  font-weight: bold;
  height: 70%;
  margin-top: 2%;
}

.header-link:hover {
  display: inline-block;
  position: relative;
  color: rgb(27, 30, 29);
}

.header-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(27, 30, 29);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.header-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 30px;
  }
}
