.form {
  margin-bottom: 0.5rem;
}

.form label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form input {
  font: inherit;
  background-color: #afacac;
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  width: 70%;
  text-align: left;
  padding: 0.25rem;
}

.form input:focus-visible {
  outline: none;
  border: 2px solid #a54e4e;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: black;
  background-color: #afacac;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:focus-visible {
  outline: none;
  border: 2px solid #a54e4e;
}

.actions button:hover {
  background-color: #626262;
  border-color: #626262;
}
