h1 {
  text-align: center;
}

section {
  margin: 3rem auto;
  width: 80%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: black;
}

section h1 {
  text-align: center;
  color: black;
}

section img {
  height: 30px;
}
